body {
    
    background: linear-gradient(180deg, #08173D 16.67%, #020213 100%);
    width: 1920px;
    height:6925px;
    margin-left:auto;
    margin-right:auto;
    clear: both;
}
#baner {

    background: linear-gradient(180deg, rgba(41, 77, 169, 0.74) 0%, rgba(39, 74, 162, 0.66) 99.99%, rgba(8, 23, 61, 0.07) 100%);
    position: absolute;
    width: 1960px;
    height: 291px;
    left: 0px;
    top: -1px;
}
a{text-decoration:none;
  color:#FFD014;}
#naw1 {

    position: absolute;
    width: 406px;
    height: 77px;
    left: 338px;
    top: 82px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #FFD014;
}
    #naw1:hover {
       
     
    }
#naw2 {

    position: absolute;
    width: 499px;
    height: 77px;
    left: 804px;
    top: 86px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #FFD014;
}
#naw3 {
    
    position: absolute;
    width: 174px;
    height: 77px;
    left: 1360px;
    top: 82px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #FFD014;
}
#naw4 {
    position: absolute;
    width: 233px;
    height: 77px;
    left: 1597px;
    top: 82px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #FFD014;
}


#nav
{
  
    padding:24px;
}



n1 {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 116px;
    text-align: center;
    color: #B3700C;
}
#container {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0688583) 15.59%, rgba(255, 255, 255, 0) 100%);
    border-radius: 5px;
    position: relative;
 }

#logo{
   
    padding:200px;
}
img[src="logo.png"] {
    position: absolute;
    width: 230px;
    height: 235px;
    left: 39px;
    top: 28px;
    background: url(logo1.png);
   
}
img[src="hmm.png"] {
   position: absolute;
width: 1041px;
height: 502px;
left: 419px;
top: 291px;

background: url(hmm.png);
border-radius: 200px;
}
#tekst {
    position: absolute;
    width: 864px;
    height: 275px;
    left: 529px;
    top: 429px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 116px;
    text-align: center;
    color: #FFA721;
}
img[src="pad1.jpg"] {
    position: absolute;
    width: 762px;
    height: 508px;
    left: 148px;
    top: 1164px;
    background: url(pad1.jpg);
    border-radius: 150px;
    width: 762px;
    height: 508px;
}
#pad {
    position: absolute;
    width: 544px;
    height: 250px;
    left: 1053px;
    top: 1212px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 87px;
    color: #B3700C;
   
}
#zacheta {
    position: absolute;
    width: 1994px;
    height: 307px;
    left: -37px;
    top: 1613px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 254px;
    line-height: 307px;
    text-align: center;
    color: #FFA721;
   
}
#zasada {
    position: absolute;
    width: 1640px;
    height: 267px;
    left: 140px;
    top: 2385px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 87px;
    text-align: center;
    color: #B3700C;
   
}
#obr {
    margin-top:-15px;
    position: absolute;
    left: -50px;
   
}
img [src="1.png"] {
   
    width: 285px;
    height: 364px;
    left: 108px;
   
}
img [src="strzala1.png"] {
    position: absolute;
    width: 5.18px;
    height: 203.3px;
    left: 649.26px;
    top: 3002.35px;
    border: 10px solid #FFA721;
    box-sizing: border-box;
    
}
img [src="2.png"] {
position: absolute;
width: 364px;
height: 432px;
left: 703px;
top: 2831px;

}

img [src="strzala2.png"] {
    position: absolute;
    width: 5.18px;
    height: 203.3px;
    left: 1384.26px;
    top: 3010.35px;
    border: 10px solid #FFA721;
    box-sizing: border-box;
    border-radius: 50px;
}
img [src="3.png"] {
    position: absolute;
        width: 496px;
        height: 492px;
        left: 1316px;
        top: 2835px;
    background: url(3.png);
   
}
img[src="pad2.jpg"] {
    position: absolute;
    width: 869px;
    height: 579px;
    top: 40px;
    left:815px;
    background: url(pad2.jpg);
    border-radius: 70px;
}
#para {
    position: absolute;
    width: 716px;
    height: 464px;
    left: 128px;
    top: 3584px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 116px;
    text-align: right;
    color: #B3700C;
}
img[src="prezes.jpg"] {
    position: absolute;
    width: 455px;
    height: 683px;
    left:-690px;
   top:-30px;
    border-radius: 70px;
}
#prezes {
    position: absolute;
    width: 873px;
    height: 384px;
    left: 896px;
    top: 4435px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #B3700C;
}
#zakup {
    position: absolute;
    width: 940px;
    height: 270px;
    left: 136px;
    top: 5507px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    text-align: right;
    color: #B3700C;
    
}
n2 {
    position: absolute;
    width: 951px;
    height: 257px;
    left: 345px;
    top:-210px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 174px;
    text-align: center;
    color: #B3700C;
}
img [src="card.jpg"] {
    position: absolute;
    width: 325px;
    height: 200.38px;
    left: 1333px;
    top: 5536px;
    
}
#card {
  
    float: left;
    position: absolute;
    width: 325px;
    height: 200.38px;
    left: 1333px;
    top: 5536px;
}
#kontek{
    position: absolute;
width: 1231px;
height: 122px;
left: 362px;
top: 6012px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 116px;
text-align: center;

color: #B3700C;

}
#tel {
    position: absolute;
    width: 305px;
    height: 305px;
    left: 205px;
    top: 6312px;
}
#teltek {
    position: absolute;
    width: 377px;
    height: 290px;
    left: 510px;
    top: 6312px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    color: #663F04;
}
#mail {
    position: absolute;
    width: 181px;
    height: 111.59px;
    left: 1036px;
    top: 6377px;
}
#mailtek {
    position: absolute;
    width: 440px;
    height: 291px;
    left: 1366px;
    top: 6329px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    color: #663F04;
}
#footer {
    position: absolute;
    width: 1960px;
    height: 249px;
    left: 0px;
    top: 6692px;
    background: #08173D;
}
#fb {
    position: absolute;
    left: 7.45%;
    right: 83.18%;
    top: 16.47%;
    bottom: 11.24%;
    
}
#yt {
    position: absolute;
    left: 30.57%;
    right: 56.88%;
    top: 16.47%;
    bottom: 11.24%;
}
#insta {
    position: absolute;
    width: 192px;
    height: 192px;
    left: 1101px;
    top: 35px;
    
}
#twi {
    position: absolute;
    left: 80.47%;
    right: 8.91%;
    top: 17.27%;
    bottom: 17.27%;
    
}